* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fira Code, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #eaeafb;
}

window#waybar {
    background-color: #0b0f2b;
    border-bottom: 3px solid #151a3f;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: #b04ba3;
    box-shadow: inset 0 -3px #f6c65b;
}

#workspaces button{
    padding: 0 5px;
    background-color: #151a3f;
    color: #b8b9e6;
}
#workspacec button.focused,
#workspaces button.active {
    background-color: #7a3e9d;
    color: #eaeafb;
    box-shadow: inset 0 -3px #f6c65b;
}

#workspaces button.urgent {
    background-color: #f6c65b;
    color: #0b0f2b;
}

#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#idle_inhibitor,
#power-profiles-daemon,
#custom-power {
    padding: 0 10px;
    color: #eaeafb;
    border-radius: 10px;
    background-color: #1e2459;
}

#battery.critical,
#temperature.critical {
    background-color: #f6c65b;
    color: #0b0f2b;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: #eaeafb;
        color:#0b0f2b;
    }
}

#pulseaudio {
    background-color: #1e2459;
    color: #eaeafb;
}

#pulseaudio.muted{
    background-color: #ebef7a;
    color: #5e6296;
}

#custom-media {
    background-color: #2fa4c7;
    color: #0b0f2b;
}

#power-profiles-daemon.performance {
    background-color: #7a3e9d;
}

#power-profiles-daemon.balanced {
    background-color: #b04ba3;
}
#power-profiles-daemon.power-saver {
    background-color: #2fa4c7;
}